.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: blue;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.adventure-card {
  border: 1px black solid;
  width: 20%;
  margin: 10px;
}

.trip-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.trip-table div {
  width: 45%
}

.dream-box div {
  width: 170%
}

.itinerary-box div {
  width: 170%
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
